<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #000;
            margin: 0;
            padding: 20px;
        }

        h1,
        p {
            color: #fff;
        }
    </style>
</head>

<body>
    <h1>Welcome to the Flask Application</h1>
    <p>This is a simple Flask application.</p>
    <p>Today is {{ day }}.</p>
</body>

</html>